
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: #010101;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

.main-header {
  position: relative;
}

.main-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.article-header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}


.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}

.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px #9d822b;
}

.layers__title {
  font-size: calc(var(--index) * 2.65);
  letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -0.35);
}

.main-article {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  top: 2em;
  z-index: 10;
}

.main-article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--main-article-transform);
  transition: var(--transition);
  will-change: transform;
}

.main-article__paragraph {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: var(--main-article-transform);
  transition: var(--transition);
  will-change: transform;
}

.content {
  will-change: transform;
}

.copy a {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  left: 45%;
  opacity: 0.45;
  color: #fff;
  text-decoration: none;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 37.5);
}

.logo {
  max-width: 200px;
  min-width: 100px;
}

/* copycode */
.copy-link {
  margin: 1em 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.copy-link-input {
  padding: 0 2em;
  font-size: 1em;
  border: 1px solid #000000;
  border-radius: 10em;
}

.copy-link-input:hover {

}

.copy-link-button {
  padding: 0 1.5em;
  width: 30%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  color: #333333;
  outline: none;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 1em;
}

.copy-link-button:hover {
  background: #cccccc;
}

#monoLink {
  margin: 1em;
}

#monolink a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
}

.monoL {
  color: #fff;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1; 
  text-align: center;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-info li {
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
}

.quick-links li,
.footer-links li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.quick-links a,
.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.quick-links a:hover,
.footer-links a:hover {
  color: #9d822b;
}

.fa-envelope,
.fa-phone {
  color: #9d822b;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
    margin-bottom: 30px;
  }
}

.sticky-menu {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 0.3s ease;
}

.sticky-menu ul {
  list-style-type: none;
}

.sticky-menu li {
  display: inline;
  margin: 0 10px;
}

.sticky-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.sticky-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.sticky-menu li {
  position: relative;
  padding: 0 20px;
}

.sticky-menu a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.sticky-menu a:hover {
  color: #ffd700;
}

.dropdown-content .team-section,
.dropdown-content .mission-section {
  display: none;
}

/* Initially hide the submenu items */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0); /* Set the initial background to transparent */
  min-width: 160px;
  z-index: 100;
  flex-direction: row;
}

/* Display the background when the dropdown is active */
.dropdown-content.active {
  background-color: rgba(0, 0, 0, 0.5); /* Set the background to semi-transparent black when active */
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.dropdown-content a i {
  align-self: center;
}

.dropdown:hover .dropdown-content {
  display: flex; 
}

.dropdown a:after {
  content: " ►"; 
  display: inline-block;
  margin-left: 5px;
  transform: rotate(90deg);
  color: #ffd700; 
}

.dropdown-content.show {
  display: block;
}


.dropdown li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dropdown i {
  font-size: 24px;
  margin-bottom: 5px;
}


.fas {
  margin-right: 5px;
  color: #fff;
}

/* Hidden Section Styles */
.hidden-section {
  display: none;
  padding: 20px;
  background-color: #f1f1f1;
}

/* Footer Styles */
.footer {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-info li {
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
}

.quick-links li,
.footer-links li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.quick-links a,
.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.quick-links a:hover,
.footer-links a:hover {
  color: #9d822b;
}

/* Icons Styles (Font Awesome) */
.fa-envelope,
.fa-phone {
  color: #9d822b;
  font-size: 18px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
    margin-bottom: 30px;
  }
}

.team-section,
.mission-section {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-icon {
    width: 50px; 
    height: auto;
    margin-bottom: 10px; 
}

.bottom-icon {
    width: 50px; 
    height: auto;
    margin-top: 10px;
}

/* Style for the language switcher container */
.language-switcher-container {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 100;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

/* Style for the language switcher */
.language-switcher {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 20px;
  margin-right: 10px; /* Add margin-right to create spacing */
}

/* Style for the dropdown content (languages) */
.language-switcher-container .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 30px; /* Adjust the top position to align with the button */
  right: 0; /* Adjust the right position to align with the button */
}

/* Style for the login button container */
.login-button-container {
  position: fixed;
  top: 80px;
  right: 150px; /* Adjust the right position to create spacing */
  z-index: 99;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  display: flex; /* Add display: flex */
  align-items: center; /* Center vertically */
}

/* Style for the login button */
.login-button {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: 10px;
  z-index: 99;
}

/* Style the login button */
.login-button a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: 10px; 
}

/* Style for flag icons */
.flag-icon {
  width: 100%; /* Make the flag fill the container */
  height: 100%; /* Make the flag fill the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 50%; /* Make it a circle if the container is circular */
}

.flag-container {
  position: fixed; /* Make it fixed to stay in place */
  top: 20px; /* Adjust the initial top position */
  right: 20px; /* Adjust the initial right position */
  cursor: pointer;
}

/* Style the language flags */
.language-flag {
  width: 20px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

/* Style the selected flag */
.flag-selected {
  transform: scale(1.2); /* Increase the size of the selected flag */
  z-index: 2;
}

/* Style the dropdown content (languages) */
.flag-container .dropdown-content {
  display: none;
  position: absolute;
  top: 25px; /* Adjust the top position to overlap with the selected flag */
  left: -10px; /* Adjust the left position to overlap with the shape */
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 3;
}

/* Style for the language flags in the dropdown */
.flag-container .dropdown-content .language-flag {
  width: 20px;
  height: 15px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 50%;
}

/* Show the dropdown on hover */
.flag-container:hover .dropdown-content {
  display: block;
}

/* Flags in Dropdown Styles */
.flag-dropdown {
  /* Style for the flags in the dropdown */
  width: 30px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-right: 10px; /* Add margin between flags if needed */
  border: 1px solid #333;
  border-radius: 5px; /* Add rounded corners if desired */
}